:root {
  --slate: #738290ff;
  --chartreuse: #e9ff5cff;
  --sandy: #f19953ff;
  --tearose: #e9bcb7ff;
  --vandyke: #553d36ff;
}

* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: var(--vandyke);
}

/* APP */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a.nav-link .nav-item{
  color: var(--tearose);
}

a.nav-link .nav-pills{
  background-color: var(--vandyke);
}

.footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: var(--sandy);

}

.footer-icon {
  display: flex;
  justify-content: center;
  color: var(--sandy);


}